<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alcatraz.fclogcat" >
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.INTERNET"/>
    <application
		android:name=".OverallOperate"
        android:allowBackup="true"
        android:icon="@drawable/ic_alert_md_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
		
		
        <activity
			android:launchMode="singleTask"
            android:name=".SetupWizard"
            android:label="@string/app_name" >
			
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<meta-data
				android:name="android.app.shortcuts"
				android:resource="@xml/shortcuts"/>
        </activity>
		<activity
			android:name=".LogViewer"/>
		<activity
			android:name=".S">
			<intent-filter>
                <action android:name="android.intent.action.VIEW"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".RE">
			<intent-filter>
                <action android:name="android.intent.action.VIEW"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".ST">
			<intent-filter>
                <action android:name="android.intent.action.VIEW"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".Preferences">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".Author"/>
		<activity
			android:name=".MTerminal"/>
		<activity
			android:name=".MainActivity"/>
		<receiver
			android:name=".BootRec">
			<intent-filter> 
				<action android:name="android.intent.action.BOOT_COMPLETED"/> 
				<category android:name="android.intent.category.HOME" /> 
			</intent-filter> 
		</receiver>
		<service
			android:name=".BackGroundCatcher"
			/>
		<service
			android:name=".FloatService"
		/>
		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="com.alcatraz.fclogcat.fileProvider"
			android:grantUriPermissions="true"
			android:exported="false">
			<meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fpd" />
		</provider>
    </application>

</manifest>
